:root{
    /* BACKGROUND COLORS */
    --backgroundGray:#FAFAFA;
    --backgroundDarkGray:#292c2f;
    --backgroundWhite:#FFFFFF;
    --buttonBlue:#2F5BE7;
    --buttonHover:#007BFF;
    --textBlack:#1B2733;
    --textGray:#637282;
    --textWhite:#FFFFFF;
    --footerTextGray:#92999f;
    --googleGreen:#0F9D58;
    --googleYellow:#F4B400;
    --googleRed:#DB4437;
    --googleBlue:#4285F4;
    --marginTop:20px;
}

/**************************************************************
                    COMMON STYLES
**************************************************************/

*{
	margin: 0px;
	padding: 0px;
	font-family: "Product Sans", sans-serif;
    font-size: 16px;
	box-sizing: border-box;
}

/* Enables smooth scrolling of the page  */
html{
    overflow-x:hidden; 
    scroll-behavior: smooth;
}


a{
	text-decoration: none;
}

.heading{
    font-size: 3em;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -0.3px;
    color: var(--textBlack);
    margin: 0px;
    margin-bottom: 0px;
}

.subheading{
    font-size: 1em;
    color: var(--textGray);
    line-height: 22px;
    margin-top: -8px;
    letter-spacing: -0.1px; 
    text-align: center; 
}

button{
    margin-top: 10px;
    background: var(--buttonBlue);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: var(--textWhite);
    border: none;
    font-size: 1em;
    letter-spacing: 0.8px;
    padding: 10px 10px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    text-align: center;
    border-radius: 2px !important;
    font-weight:bold !important;
}

button:hover, button:focus{
    background-color: var(--buttonHover);
    color: var(--textWhite);
    box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}


/**************************************************************
                    BACK TO TOP BUTTON STYLES
**************************************************************/

#button{
    display: inline-block;
    background-color: #6e6860;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after{
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #c2b9ad;
}

#button:active{
  background-color: #555;
}

#button.show{
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px){
  #button {
    margin: 30px;
  }
}


/**************************************************************
                    LANDING PAGE STYLES
**************************************************************/

#landingPageSection #header{
	position: fixed;
	z-index: 99999;
	width: 100%;
	transition: 0.6s;
}

#landingPageSection #header.sticky{
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	-moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#landingPageSection #header nav{
	background: var(--backgroundWhite);
}

#landingPageSection #header nav a{
	font-size: 0.93em;
    font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	text-align: center;
	color: var(--textBlack);
}

#landingPageSection #header nav a:hover{
    opacity: 0.9;
    color:var(--buttonHover);
}

#landingPageSection .toButton{
    text-align: center;
    border-radius: 2rem;
    background: var(--buttonBlue);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: var(--textWhite);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#landingPageSection a.toButton:hover{
	background-color: var(--buttonHover);
    color: var(--textWhite);
    box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}

#landingPageSection #content-container h2{
	color:  var(--textBlack);
	font-weight: 700;
	font-size: 3em;
	line-height: 1em;
}

#landingPageSection .wrap{
	font-size: 3em;
	color: var(--textGray);
	font-weight: 700;
}

#landingPageSection #content-container p{
	line-height: 1.5em;
	color: var(--textGray);
	font-size: 1em;
	letter-spacing: -0.1px;
}

#landingPageSection #bg-container svg{
	width: 100%;
	height: 100%;
}

.arrow{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 22px;
    height: 22px;
    border-bottom: 5px solid var(--textBlack);
    border-right: 5px solid var(--textBlack);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/**************************************************************
                    ABOUT US SECTION STYLES
**************************************************************/

#aboutUsSection{
    background-color: var(--backgroundGray);
    position: relative;
}

#aboutUsSection .sectional_heading{
    font-size: 1.7em;
    font-weight: 600;
    color: var(--textBlack);
    line-height: 22px;
    margin-bottom: 18px;
}

#aboutUsSection .aboutusRightPara{
    margin-top: 14px;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.1px;
    color: var(--textGray);
}

#aboutUsSection img{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

#aboutUsSection #stats{
	margin-top: 50px;
    background-color: var(--backgroundWhite); 
	/*margin-bottom: 50px;*/
}

#aboutUsSection .statsCard{
    background-color: var(--backgroundWhite);
    text-align: center;
    padding: 10px;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-property: all;
}

#aboutUsSection .statsCard p{
	line-height: 1.5em;
	color: var(--textGray);
	font-size: 1.1em;
	letter-spacing: -0.1px;
}

#aboutUsSection .statsCard i{
	font-size: 2em;
	padding: 20px;
	border-radius: 50%;
}


/**************************************************************
                    TECHNOLOGIES PAGE STYLES
**************************************************************/

#technologiesSection{
    background-color: var(--backgroundGray);
    position: relative;
}

#technologiesSection .box{
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

#technologiesSection .box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.08);
    transform: scale(1.01);
    transition: all ease 0.1s;
}

#technologiesSection .top-bar{
    width:50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #507bfc;
    border-radius: 0px 0px 10px 10px;
}

#technologiesSection .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#technologiesSection .details img{
    width:180px;
    height: 180px;
    border: 0.5px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    margin-bottom: 15px;
}

#technologiesSection .details strong{
    font-weight: 700;
    font-size: 1.4em;
    /*line-height: 22px;*/
    color: var(--textBlack);
    letter-spacing: 0.1px;
    margin-top: 10px;
}

#technologiesSection .details p{
	font-size: 0.9em;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: -0.1px;
    color: var(--textGray);
    margin: 10px 0px;
    text-align: center;
}

#aboutVJTI{
    position: relative;
}

.custom-shape-divider-bottom-1609750485{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609750485 svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1609750485 .shape-fill{
    fill: #ECF0F1;
}


/**************************************************************
                    OUR TEAM PAGE STYLES
**************************************************************/
#teamSection{
    position: relative;
}
#teamSection .container .nav-item:hover{
    background-color:rgba(0, 110, 255, 0.4);
    border-radius:5px;
}
#teamSection .container .nav-link:focus{
    background-color:rgba(0, 110, 255, 0.4);
}

#teamSection .container .ourCard{
    text-align: center;
    min-width: 250px;
    padding: 60px 20px 10px 20px;
    transition: all ease-in-out .3s;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px 0 rgba(110, 123, 131, .15);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#teamSection .container .ourCard.blueContent:hover{
    background-color: var(--googleBlue);
    box-shadow: 2px 2px 30px rgba(4,15,49,0.08);
}

#teamSection .container .ourCard.redContent:hover{
    background-color: var(--googleGreen);
    box-shadow: 2px 2px 30px rgba(4, 15, 49, 0.08);
}

#teamSection .container .ourCard.yellowContent:hover{
    background-color: var(--googleYellow);
    box-shadow: 2px 2px 30px rgba(4,15,49,0.08);
}

#teamSection .container .ourCard.greenContent:hover{
    background-color: var(--googleRed);
    box-shadow: 2px 2px 30px rgba(4, 15, 49, 0.08);
}

#teamSection .container .ourCard .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textBlack);
    flex-direction: column;
    /*opacity: 0.5;*/
    transition: 0.5s;
}

#teamSection .container .ourCard:hover .content{
    opacity: 1;
    color: var(--textWhite);
    transition: all ease 0.3s;
    transform: translateY(-30px);
}

#teamSection .container .ourCard .content .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    /*border: 4px solid rgba(0,0,0,0.25);*/
}

#teamSection .container .ourCard .content .imgBx.blueIcon{
    background-color: var(--googleBlue);
}

#teamSection .container .ourCard .content .imgBx.redIcon{
    background-color: var(--googleGreen);
}

#teamSection .container .ourCard .content .imgBx.greenIcon{
    background-color: var(--googleRed);
}

#teamSection .container .ourCard .content .imgBx.yellowIcon{
    background-color: var(--googleYellow);
}

#teamSection .container .ourCard:hover .content .imgBx{
    background-color: var(--backgroundWhite); 
}

#teamSection .container .ourCard .content .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#teamSection .container .ourCard .content .contentBx h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

#teamSection .container .ourCard .content .contentBx h3 span{
    font-size: 0.7em;
    font-weight: 500;
    text-transform: initial;
}

#teamSection .container .ourCard .profiles{
    text-decoration: none;
    padding: 0 20px;
    opacity: 1;
    font-weight: 700;
}

#teamSection .container .ourCard .blueLinks a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--googleBlue);
    padding: 0 5px;
}

#teamSection .container .ourCard .greenLinks a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--googleRed);
    padding: 0 5px;
}

#teamSection .container .ourCard .redLinks a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--googleGreen);
    padding: 0 5px;
}

#teamSection .container .ourCard .yellowLinks a{
    text-decoration: none;
    font-size: 1.3em;
    color: var(--googleYellow);
    padding: 0 5px;
}

#teamSection .container .ourCard:hover a{
    color: var(--textWhite);
}


/**************************************************************
                    CONTACT US PAGE STYLES
**************************************************************/

#contactUsSection{
    background-color: var(--backgroundGray);
    /*margin-left: 0; */
}
#contactUsSection .social a{
    padding: 20px;
    color: #7b7c7c;
    font-size: 1.1rem;
}
#contactUsSection .social a{
    padding: 20px;
    color: #7b7c7c;
    font-size: 1.1rem;
}

#contactUsSection #contact{
	display: flex;
    align-items: center;
    /*padding: auto 40px;*/
}

#contactUsSection .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundWhite);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}

#contactUsSection .social a:hover {
    color: var(--textBlack);
    transition: all ease 0.3s;
}

#contactUsSection .contact-box{
    background-color: var(--backgroundDarkGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
}

#contactUsSection .c-heading h1{
    color: var(--textWhite);
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

#contactUsSection .c-heading p{
    color: var(--textWhite);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#contactUsSection .c-inputs{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contactUsSection .c-inputs input{
    width: 330px;
    height: 45px;
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    outline: none;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
    color: var(--textWhite);
    display: flex;
}

#contactUsSection .c-inputs textarea{
    width: 330px;
    height: 200px !important;
    outline: none;
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid rgba(251, 251, 251, 0.1);
    color: var(--textWhite);
    padding: 10px;
    box-sizing: border-box;
}

#contactUsSection .c-inputs input:focus,
#contactUsSection .c-inputs textarea:focus{
    border: 2px solid rgba(255, 255, 252, 1.00);
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

#contactUsSection .c-inputs button{
    width: 200px;
    height: 40px;
    background-color: var(--backgroundWhite);
    border-radius: 99999px !important;
    color: var(--textBlack);
    border: none;
    outline: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    /*border-radius: 10px;*/
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}
/* 
.material-icons{
    margin-left: 10px;
} */
.custom-shape-divider-top-1609782702 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1609782702 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1609782702 .shape-fill {
    fill: #FFFFFF;
}
.animate__shakeX{
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: infinite;
}
.animate__rubberBand{
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-iteration-count: infinite;
}

#contactUsSection .c-inputs button:hover,
#contactUsSection .c-inputs button:active{
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

#contactUsSection .map{
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border: 4px solid grey;
}


/**************************************************************
                    FOOTER SECTION STYLES
**************************************************************/

#footerSection footer{
    position: static;
    bottom: 0;
}

#footerSection .footer-distributed{
    background-color: var(--backgroundDarkGray);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;    
    font-weight: 600;
    padding: 20px 10px;
    /*margin-top: 80px;*/
}

#footerSection .footer-distributed .footer-logo{
    margin: auto;
}

#footerSection .footer-distributed .address i{
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

#footerSection .footer-distributed i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

#footerSection .footer-distributed span.contact-info{
    font-size: 0.93em;
    color: var(--textWhite);
    vertical-align: middle;
    margin: 0;
}

#footerSection .footer-distributed span.contact-info a{
	color: var(--textWhite);
}

#footerSection .footer-distributed span.contact-info a:hover{
	text-decoration: none;
}

#footerSection .footer-distributed .footer-icons{
    margin-top: 15px;
}

#footerSection .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

#footerSection .footer-icons a:hover{
    opacity: 0.7;
}

/*.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
}*/

#footerSection .footer-distributed h4{
    font-size: 1.1em;
    color: var(--textWhite);
}

#footerSection .footer-distributed .horizontalline-footer{
    display: block; 
    height: 2px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 2px;
}

/**************************************************************
                    CHANGES FOR DESKTOP VIEW
**************************************************************/

@media (min-width: 992px) {
	#landingPageSection{
		height: 100vh;
	}

	#landingPageSection #content-container{
		margin-top: 50%;
	}

	#landingPageSection #bg-container{
		margin-top: 30%;
	}

	#aboutDSC{
		height: 70vh;
	}

    #aboutVJTI{
        height: 60vh;
    }

	#aboutUsSection, #technologiesSection, #teamSection{
        padding-top: 25px;
		padding-bottom: 25px;
	}

    #technologiesSection, #teamSection{
        margin-top: 30px;
        padding-top: 50px;
    }

    #teamSection{
        margin-top: 50px;
        /*margin-bottom: 30px;*/
    }

    #contactUsSection{
        margin-top: 100px;
        padding: 40px 0;
    }

    #aboutUsSection #stats{
        padding: 50px 0;
    }

	#contactUsSection #contact{
        justify-content: center;
    }

    .footer-distributed .footer-right{
        margin: auto;
        margin-right: 1cm;
        margin-top: 0.6cm;
    }

    #footerSection .footer-distributed .footer-logo{
        margin: auto;
    }

    #footerSection .footer-distributed .address{
        padding-left: 50px;
    }
}


/**************************************************************
                    CHANGES FOR MOBILE VIEW
**************************************************************/

@media (max-width: 991px) {
	*{
		font-size: 15px;
	}

	#landingPageSection #bg-container{
		margin-top: 60px;
	}

	#landingPageSection #content-container{
		margin-top: 130px;
		text-align: center;
	}

	#landingPageSection #content-container button{
		margin: auto;
	}

    #button{
        right: -12px;
        bottom: 0px;
    }
    
    #technologiesSection{
        position: relative;
    }

    #aboutUsSection, #technologiesSection{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #technologiesSection{
        margin-top: 60px;
    }

    #teamSection, #contactUsSection{
        padding: 40px 0;
        margin-top: 80px;
    }

    #stats{
        position: relative;
    }

    #aboutUsSection #stats{
        padding: 40px 0;
    }

    .arrow{
        position: absolute;
        top:90%;
        left: 50%;
    }

    .arrow span{
        width: 18px;
        height: 18px; 
    }

	#aboutUsSection{
		text-align: center;
        padding-top: 20px; 
	}

	#aboutUsSection button{
		margin: auto;
	}

	#aboutVJTI{
        margin-top: 40px;
        position: relative;
	}

	#contactUsSection #contact{
		margin-left: 35px;
		margin-right: auto;
		margin-bottom: 45px;
	}

	#contactUsSection .map{
        display: none;
    }
    
    #contactUsSection #contact{
        position: static;
        transform: translate(0, 0);
        /*width: 100%;*/
    }

    #contactUsSection .c-inputs input,
    #contactUsSection .c-inputs textarea{
        width: 270px;
    }

    #footerSection .footer-distributed h4{
        font-size: 1.3em;
    }

    #footerSection .footer-distributed{
    	text-align: center;
    }
}
.active{
    -webkit-animation: colorTransition 20s infinite alternate;
    animation:  colorTransition 20s infinite alternate;
}
@keyframes colorTransition{
    0% {
        color: #FFFF00;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: blue;
    }
    50% {
        color: #34495e;
    }
    
    60% {
        color: blue;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }

}



