:root{
    /* BACKGROUND COLORS */
    --backgroundGray:#FAFAFA;
    --backgroundWhite:#FFFFFF;
    --buttonBlue:#2F5BE7;
    --buttonHover:#007BFF;
    --textBlack:#1B2733;
    --textGray:#637282;
    --textWhite:#FFFFFF;
    --marginTop:20px;
}


/*********************COMMON STYLES*********************/

*{
	margin: 0px;
	padding: 0px;
	font-family: "Product Sans", sans-serif;
	box-sizing: border-box;
}


.heading{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -0.3px;
    color: var(--textBlack);
    margin: 0px;
    margin-bottom: 0px;
}

.subheading{
    font-size: 15px;
    color: var(--textGray);
    line-height: 22px;
    margin-top: 0px;
    letter-spacing: -.3px; 
    text-align: center; 
}

.text_center{
	text-align: center;
}

a{
	text-decoration: none;
}

button{
    margin-top: 13px;
    background: var(--buttonBlue);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: var(--textWhite);
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 14px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    text-align: center;
    border-radius: 2px !important;
    font-weight:bold !important;
}

button:hover, button:focus {
    background-color: var(--buttonHover);
    color: var(--textWhite);
    box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}



/*********************LANDING PAGE SECTION**************************/

#landingPageSection #header{
	position: fixed;
	z-index:9999;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	background:#FFF;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.6s;
	/*-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	-moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);*/
}

#landingPageSection #header.sticky{
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	-moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

#landingPageSection #header #logo{
	/* font-style: italic; */
	font-size: 20px;
	padding-right: 400px;
}

#landingPageSection #header #logo span{
	color: #564FCC;
}

#landingPageSection #header nav{
	color: #1B2733;
}

#landingPageSection #header nav a{
	font-size: 14px;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	color: #1B2733;
}
/* #header nav a:last-child{
	color: white;
	background: #6C63FF;
	padding: 10px 20px;
	margin-left: 30px;
	border-radius: 30px;
} */

#landingPageSection #header nav a:hover{
	opacity: 0.9;
}

#landingPageSection #container{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
	height: 575px;
}

#landingPageSection #bg-container{
	width: 50%;
}

#landingPageSection #bg-container svg{
	padding-top: 56px;
	width: 100%;
	height: 100%;
}

#landingPageSection #content-container{
	margin-top: auto;
	padding-top: 70px;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#landingPageSection #content-container h2{
	color:  #1B2733;
	font-weight: 900;
	font-size: 60px;
	line-height: 0.9em;
	margin-bottom: 30px;
}

#landingPageSection #content-container p{
	line-height: 1.8em;
	font-weight: 300;
	color: rgba(128, 128, 128);
	font-family: "Product Sans",sans-serif;
}

/*#landingPageSection #content-container button{
	border: none;
	outline: none;
	color: #FFF;
	background-color:#007BFF;
	
	padding: 20px 0px;
	border-radius: 7px; 
	font-size: 16px;
	width: 160px;
	margin-top: 30px;
	cursor: pointer;
	box-shadow: 0 13px 27px 0 rgba(211, 211, 211, 0.5)
}

#landingPageSection #content-container button:hover{
	opacity: 0.9;
	transition: 0.5s;
    background: #000000;
}*/



/*********************ABOUT US SECTION**************************/

#aboutUsSection{
    /*margin-top: 1rem;*/
    width: 100%;
    /*height: 100vh;*/
    background-color: var(--backgroundWhite);
}

#aboutUsSection .mt-5{
    margin-top: 40px;
}

#aboutUsSection img{
    display: block;
    max-width: 100%;
    height: auto;
}

#aboutUsSection .text_center{
    text-align: center;
}

#aboutUsSection .sectional_heading{
    font-size: 25px;
    color: var(--textBlack);
    line-height: 22px;
    /*letter-spacing: 0.4px;*/
    margin-bottom: 22px;
}

#aboutUsSection .container{
    width: 80%;
    max-width: 1100px;
    margin: 0px  auto;
}

#aboutUsSection .aboutusRightPara{
    /*margin-top: calc(var(--marginTop) + 30px);*/
    margin-top: 14px;
    font-size: 14.8px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0.2px;
    color: var(--textGray);
}

#aboutUsSection .aboutUsWriteup{
    margin-top: var(--marginTop); 
}

#aboutUsSection .grid{
    display: grid;
   
}

#aboutUsSection .twoColumnsOnDesktop{
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
}

#aboutUsSection #cards{
    background-color: var(--backgroundGray);
}

#aboutUsSection #cards img{
    max-width: 100%;
    height: auto;
    display: block;
}

#aboutUsSection .cardImage{
    height: 80px !important;
}

#aboutUsSection #cards{
    margin-top: 20px;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    background-color: var(--backgroundGray);
}

#aboutUsSection .card{
    padding: 25px 30px;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 5px;
    /*display: flex;*/
    /*-ms-flex-wrap: wrap;*/
    /*flex-wrap: wrap;*/
    background-color: var(--backgroundWhite);
    box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
    margin-bottom: 20px;
    /*margin-right: 10px;*/
}

#aboutUsSection .card h3{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: var(--textBlack);
    text-align: left;
}

#aboutUsSection .card p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: var(--textGray);
    text-align: left;
}

#aboutUsSection #cards .container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

#aboutUsSection #cards .grid{
    display: grid;
    
}

#aboutUsSection .threeColumnsOnDesktop{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

@media(max-width:700px){
    #aboutUsSection .threeColumnsOnDesktop{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}


/*********************TECHNOLOGIES SECTION*********************/

#technologiesSection{
	background: var(--backgroundGray);
}

#technologiesSection .box{
    width: 320px;
    /*height: 340px;*/
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

#technologiesSection .box:hover{
    box-shadow: 2px 2px 30px rgba(4,15,49,0.08);
    transform: scale(1.01);
    transition: all ease 0.1s;
}

@media(max-width:612px){
    #technologiesSection .box{
        flex-grow: 0.7;
    }
}

#technologiesSection .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#technologiesSection .top-bar{
    width:50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: #507bfc;
    border-radius: 0px 0px 10px 10px;
}

#technologiesSection .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#technologiesSection .details img{
    width:150px;
    height: 150px;
    border: 0.5px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    margin-bottom: 15px;
}

#technologiesSection .details strong{
    font-weight: 700;
    font-size: 1.2rem;
    color: #1B2733;
    letter-spacing: 0.3px;
    margin-top: 10px;
}

#technologiesSection .details p{
    font-size: 0.9rem;
    color: #637282;
    margin: 10px 0px;
    letter-spacing: -.3px;
    text-align: center;
}



/*********************TEAM SECTION*********************/
#teamSection{
	background: var(--backgroundGray);
}

#teamSection .container{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
	margin-top: 0;
	margin-bottom: 0;
}

#teamSection .container .card{
	position: relative;
	width: 300px;
	height: 400px;
	background: rgb(255,255,255);
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.03) 2px 2px 30px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

#teamSection .container .card:hover{
	box-shadow: 2px 2px 30px rgba(4,15,49,0.08);
}

#teamSection .container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*opacity: 0.5;*/
	transition: 0.5s;
}

#teamSection .container .card:hover .content{
	opacity: 1;
	transform: translateY(-20px);
}

#teamSection .container .card .content .imgBx{
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid rgba(0,0,0,0.25);
}

#teamSection .container .card .content .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#teamSection .container .card .content .contentBx h3{
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

#teamSection .container .card .content .contentBx h3 span{
	font-size: 12px;
	font-weight: 500;
	text-transform: initial;
}

#teamSection .container .card .sci{
	position: absolute;
	bottom: 50px;
	display: flex;
}

#teamSection .container .card .sci li{
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i));
}

#teamSection .container .card:hover .sci li{
	transform: translateY(0px);
	opacity: 1;
}

#teamSection .container .card .sci li a{
	color: #000;
}


/*********************CONTACT US SECTION*********************/
#contactUsSection {
    position: relative;
    justify-content: center;
    display: flex;
    /*transform: translate(-50%, -50%);*/
    align-items: center;
    /*min-height: 100vh;*/
    background: #fafafa;
}

#contactUsSection .container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

#contactUsSection .container .contactinfo {
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 330px;
    height: calc(100% - 80px);
    background-color: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);

}

#contactUsSection .container .contactinfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.5px;
}

#contactUsSection .container .contactinfo .info {
    position: relative;
    margin: 20px 0;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

#contactUsSection .container .contactinfo .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

#contactUsSection .container .contactinfo .info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

#contactUsSection .container .contactinfo .info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
    font-size: 15px;
}

#contactUsSection .container .contactinfo .info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}

#contactUsSection .container .contactinfo .info li span:nth-child(2) img {
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}

#contactUsSection .container .contactinfo .info li:hover span:nth-child(1) img,
#contactUsSection .container .contactinfo .info li:hover span:nth-child(2) {
    opacity: 1;
}

#contactUsS#contactUsSction .container .contactinfo .sci {
    position: relative;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

#contactUsSection .container .contactinfo .sci li {
    list-style: none;
    margin-right: 15px;

}

#contactUsSection .container .contactinfo .sci li a {
    text-decoration: none;
}

#contactUsSection .container .contactinfo .sci li a img{
    filter: invert(1);
    opacity: 0.5;
    padding-right: 10px;
    /*font-size: 20px !important;*/
}

#contactUsSection .container .contactinfo .sci li:hover a img{
    opacity: 1;
}

#contactUsSection .container .contactForm {
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 125px;
    width: calc(100%-125px);
    padding-left: 250px;
    height: 100%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

#contactUsSection .container .contactForm h2{
    color:#1B2733;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.44;
}

#contactUsSection .container .contactForm .formBox{
    width: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}

#contactUsSection .container .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

#contactUsSection .container .contactForm .formBox .inputBox.w100{
    width: 100%;
}

#contactUsSection .container .contactForm .formBox .inputBox input,
#contactUsSection .container .contactForm .formBox .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 15px;
    font-weight: 400;
    color: #637282;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

#contactUsSection .container .contactForm .formBox .inputBox textarea{
    min-height: 120px;
}

#contactUsSection .container .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.22;
    letter-spacing: 1px;
    font-weight: 500;
    color: #637282;
    transition: 0.3s;
    pointer-events: none;
}

#contactUsSection .container .contactForm .formBox .inputBox input:focus ~ span,
#contactUsSection .container .contactForm .formBox .inputBox textarea:focus ~ span,
#contactUsSection .container .contactForm .formBox .inputBox input:valid ~ span,
#contactUsSection .container .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#637282;
}